<header id="headerTarget" class="header">
	<div class="banner-container">
		<div class="name-container">
			<h1 class="name">gevurztraminer</h1>
		</div>
		<div class="marquee-container">
			<marquee behavior="alternate" direction="down" class="marquee-1">
				<marquee behavior="alternate" direction="left" class="marquee-2">
					Be Attitude for Gains
				</marquee>
			</marquee>
		</div>
	</div>

	<p>[tabs to other pages. some are maybe working.]</p>
	<ul id="tabsList" class="tabs">
		<li id="nexus" class="tab-item"><a href="/">nexus</a></li>

		<div class="tab-divider"></div>
		<li id="daaGei" class="tab-item"><a href="/subpages/daaGei">打機</a></li>

		<div class="tab-divider"></div>
		<li id="brainOutput" class="tab-item"><a href="/subpages/brainOutput.html">brain output</a></li>

		<div class="tab-divider"></div>
		<li id="haleiwaWeather" class="tab-item"><a href ="/subpages/haleiwaWeather.html">ke aniau o Haleʻiwa</a></li>

		<div class="tab-divider"></div>
		<li id="randomImage" class="tab-item"><a href="/subpages/randomImage.html">random image</a></li>

		<div class="tab-divider"></div>
		<li id="aboutMe" class="tab-item"><a href="/subpages/aboutMe.html">私についてや好きなもの</a></li>
	</ul>
</header>
